<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Choose one of the quizes</title>

</head>
<body bgcolor="gray">
<h1 style="color:maroon;text-align:center">Go Ahead GooD LucK!</h1>

<div class="container"

<h1 style="color:maroon;text-align:center"></h1>

<a href="/Quiz/history" class="btn btn-info" style="text-align:center">Start history Quiz</a><br><br>

<a href="/Quiz/geography"  class="btn btn-info" style="text-align:center">Start Geography Quiz</a><br><br>

<a href="/Quiz/science"  class="btn btn-info" style="text-align:center">Start Science Quiz</a>

</div>
<img src="/static/img/class.jpg" width="1350" height="500">


</body>
</html>